@model Coupling.Areas.Boss.Models.Garage.GarageListViewModel

@{
    ViewBag.Title = "title";
}

<h2>title</h2>

@foreach (var g in Model.Garages)
{
    <div>@*@Html.ActionLink(g.Name, "Edit", "GarageEdit", new {area="boss", id = g.Id },null)*@</div>
    <div>@Html.RouteLink(g.Name, "garage/edit", new { id = g.Id })</div>
}
